/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.gallery-image {
  width: 360px;
  transition: transform 0.3s ease;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}

.custom-caption {
  opacity: 0;
  transition: opacity 350ms ease-out;
}

.custom-caption.show {
  opacity: 1;
}

body .sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper button.sl-close,
body .sl-wrapper .sl-navigation button,
body .sl-wrapper .sl-counter {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: start;
  margin: 0 auto;
  gap: 8px;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 8px;
}

button:hover {
  background-color: #6c8cff;
  transition: background-color 250ms ease;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

textarea {
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover,
textarea:hover {
  border: 1px solid #000000;
}
